<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>用户注册</title>
    <meta name="keywords" content="个人日程管理系统">
    <meta name="description" content="OA">
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/login.min.css" rel="stylesheet"/>
    <link href="../ajax/libs/iCheck/custom.css" th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
    <link href="../ruoyi/css/ry-ui.min.css" th:href="@{/ruoyi/css/ry-ui.min.css}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
    </script>
</head>

<body class="signin">

<div class="signinpanel">
    <div class="row">
        <div class="col-md-offset-4 col-lg-offset-4col-xl-offset-4" style="margin-left:0">
            <form id="signupForm" action="/toRegister">
                <h4 class="no-margins">注册：</h4>
                <input type="text" name="name" class="form-control uname" placeholder="用户名"/>
                <input type="text" name="loginName" class="form-control uname" placeholder="登录名"/>
                <input type="password" name="pwd" class="form-control pword m-b" placeholder="密码"/>
                <a th:href="@{/oa/toLogin}">已有账号？立即登录</a>
                <button class="btn btn-success btn-block" id="btnSubmit" data-loading="正在验证注册，请稍后..." type="submit" value="register">注册</button>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript"> var ctx = [[@{
    /}]]; var captchaType = [[${captchaType}]]; </script>
<!-- 全局js -->
<script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
